// $font : 'Varela Round';

:global ::-webkit-scrollbar {
    background: none;
    width: 5px;
    height: 5px;
}

:global ::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 20px;
}

:global ::-webkit-scrollbar-track {
    background: none;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #000;
    scrollbar-track-color: transparent;
    font-family:'Nunito', sans-serif;
}

i{
    width: 1em;
}
@media only screen and (min-width: 200px) and (max-width: 600px) {
    html, body {
        font-size: 60%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    html, body {
        font-size: 70%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1399px) {
    html, body {
        font-size: 80%;
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1920px) {
    html, body {
        font-size: 100%;
    }
}

@media only screen and (min-width: 1921px)  {
    html, body {
        font-size: 120%;
    }
}
