.accounts{
    display: flex;
    align-items: center;
    width: 8%;
    justify-content: space-around;
    
    a{
        display:flex;
        height: 2rem;
    }

}
 .footer-bg{
    display: flex;
    margin-top: 1rem;
    border-top: 2px solid rgba(0, 0, 0, 0.12);
 }