.accounts{
    display: flex;
    align-items: center;
    width: 8%;
    justify-content: space-around;

}
 .footer-bg{
     display: flex;
     margin-top: 1rem;
    background: linear-gradient(0deg, #34558b9e, transparent);
 }