.st-container {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: row;
    // flex-wrap: wrap;
    // width: 100%;
    // margin-top: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    margin: 8rem 0 0 8rem;
}
.Card {
  margin: 10px;
  cursor: pointer !important;
  &__Button {
    &__gr {
      padding: 5px;
      border-radius: 20px;
    }
    &:hover {
      transition: 0.5s;
      box-shadow: 0 32px 64px 0 #bcbcbc;
    }
  }
  &__ButtonInner {
    height: 160px;
    width: 160px;
    border-radius: 20px;
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    h1 {
        margin: 0;
        font-size: 1.2rem;
    }
    img{
        height:5rem;
        width:5rem;
        font-size: 5rem;
    }
  }

}
.gradient-animation {
  background-image: linear-gradient(
    115deg,
    #4fcf70,
    #fad648,
    #a767e5,
    #12bcfe,
    #44ce7b
  ) !important;
  animation: play 1.6s ease-in infinite;
}

@keyframes play {
  0% {
    background-position: 0;
  }
  20% {
    background-position: -110px;
  }
  35% {
    background-position: -180px;
  }
  50% {
    background-position: -210px;
  }
  80% {
    background-position: -350px;
  }
  to {
    background-position: -390px;
  }
}

