.st-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    // margin: 8rem 0 0 8rem;
    margin:8rem;
}

.Card {
  margin: 10px;
  cursor: pointer !important;
  &__Button {
    &__gr {
      padding: 5px;
      border-radius: 20px;
    }
    &:hover {
      transition: 0.5s;
      box-shadow: 0 32px 64px 0 #bcbcbc;
    }
  }
  &__ButtonInner {

    height: 160px;
    width: 160px;
    border-radius: 20px;
    display: flex;
    background: white;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    
    h1 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: unset;
    }
    img{
        height:5rem;
    }
  }

}






